<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diseño Multimedia - Servicios</title>
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
    <div class="nav-bar">
      <a href="../index.html" class="logo">Diseño <span>Multimedia</span></a>
        <nav>
          <ul>
            <li><a href="../index.html">INICIO</a></li>
            <li><a href="../templates/nosotros.html">NOSOTROS</a></li>
            <li><a href="../templates/servicios.html" class="azul">SERVICIOS</a></li>
            <li><a href="../templates/contacto.html">CONTACTO</a></li>
          </ul>
        </nav>
      </div>
        <section class="newsletter">
          <h2>Suscríbete a nuestro boletín</h2>
          <form>
            <input type="email" placeholder="Ingrese el Email..." required>
            <button type="submit">Suscribirse</button>
          </form>
        </section>
    <main class="content">
        <h1 class="p">Servicios</h1>
        <ul class="service-list">
            <li class="list">
                <h3>Diseño Web</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus  mi augue. viverra
                  sit amet <br> ultricies at, vulputate id lorem. Nulla facilisi.
                </p>
                <p><strong>Precio:</strong> $300000 - $1000000</p>
            </li>
            <li class="list">
                <h3>Desarrollo Web</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus  mi augue. viverra
                  sit amet <br> ultricies at, vulputate id lorem. Nulla facilisi.
                </p>
                <p><strong>Precio:</strong> Desde $1000000</p>
            </li>
            <li class="list">
                <h3>Hosting Web</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus  mi augue. viverra
                  sit amet <br> ultricies at, vulputate id lorem. Nulla facilisi.
                </p>
                <p><strong>Precio:</strong> $300000</p>
            </li>
        </ul>
        <aside class="cuadro2">
            <h3>Qué hacemos</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec varius auctor lacus nec feugiat. Phasellus sit amet ex ipsum. Praesent pharetra tincidunt tempor.
               Etiam velit eros, dapibus eget porta in, lacinia et magna.</p>
        </aside>
    </main>
    <footer>
        <p>Graphel Desarrollo Web, Copyright © 2017</p>
      </footer>
</body>
</html>
